body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.add-icon {
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.add-icon:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.mark-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}

.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-top: 0.05em black solid;
  text-align: center;
  font-weight: 700;
  padding: 2rem 0;
}

.footer__title {
  margin-top: var(--mb-6);
  font-size: 1rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 20px 40px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-box .form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-box .form .form-field {
  margin: 10px 0 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 0;
}

.modal-box input,
.modal-box textarea {
  background: #f2f2f2;
}

.modal-box .label-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-box textarea {
  resize: none;
  height: 10em;
}

.modal-box button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.modal-box button:disabled {
  cursor: default;
}
